
<!-- Contact Header (Logo Animation) -->
<header class="headercontact">
	<!-- Logo -->
	<div id="logo_contact">
		<a href="index.html"><img src="img/bsd_contact.png"></a>
	</div>
</header>

<!-- Assets (Skills) -->
<div class="assets clearfix">	
	<div class="columnhead">
		<h2>Contact Me</h2>
		<p>Hey there, want to get ahold of me? Send me a message below.</p>
		<div class="contactform">
			<form name="contactForm" ng-submit="submitForm(userForm.$valid)">
				<div class="contactleft">

					<label>Name</label><br/>
					<input type="text" name="name" class="form-control" placeholder="First, Last" ng-model="formData.name"><br/>
					<p ng-show="contactForm.name.$invalid && !contactForm.name.$pristine" class="help-block">You name is required.</p><br/>

					<label>Email Address</label><br/>
					<input type="text" name="email" class="form-control" placeholder="Email Address" ng-model="formData.email"><br/>
					<p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block">Enter a valid email.</p><br/>
				
				</div>
				<div class="contactright">

					<label>Message</label><br/>
					<textarea rows="6" cols="30" type="text" name="message" class="form-control" placeholder="Your message" ng-model="message"></textarea>
					<p ng-show="contactForm.msg.$invalid && !contactForm.msg.$pristine" class="help-block">Message is required.</p><br/>

				</div>
				<div class="contactbtn">
				<button type="submit" ng-disabled="userForm.$invalid">Send Message</button>
			</div>
			</form>
			

			
		</div>
	</div>	
</div>	<!-- /main assets -->

						