<section class="bsd-section" id="about-bsd">
	<div class="container">
		<div class="col-lg-8 col-lg-offset-2 text-center">

			<!-- Brock Stone Design -->
		    <h1 class="animated fadeInDown">BEHIND THE DESIGN</h1>

		    <!-- What I do -->
		    <p class="animated fadeIn">Hello, my name is Brock Stone, avid designer and frontend developer. Creating simple, sexy, engaging user experiences is what I strive for. From branding to wireframing to development. When not building in pixels I enjoy exercising, snowboarding, cooking, reading. View some of my work below.</p>
			

			<div id="links" class="animated fadeInUp">
				<a class="gold-btn" href=""><i class="fa fa-github-alt"></i> GitHub</a>
				<a class="gold-btn" href=""><i class="fa fa-code"></i> Recent Work</a>
			</div>
		</div>
	</div>	    
</section>