<section class="bsd-section" id="about-bsd">
	<div class="container">
		<div class="col-lg-8 col-lg-offset-2 text-center">

			<!-- Behind the Design -->
		    <h1 class="animated fadeInDown">BEHIND THE DESIGN</h1>

		    <!-- What I do -->
		    <p class="animated fadeIn">Hello, my name is Brock Stone. Part designer, part developer that enjoys turning ideas into modern, intuitive interface designs. When im not developing I enjoy snowboarding, cooking, reading and of course my husky Denali. Check out some of my work below.</p>
			
			<!-- github and recent work links -->
			<div id="links" class="animated fadeInUp">
				<a class="gold-btn" href="https://github.com/BrockStone"><i class="fa fa-github-alt"></i> GitHub</a>
				<a class="gold-btn" href ui-sref="works"><i class="fa fa-code"></i> Recent Work</a>
			</div>
		</div>
	</div>	    
</section>