<!-- Header (Logo Animation) -->
<header class="header2">
	<!-- Logo -->
	<div>
		<h2>RECENT PROJECTS</h2>
	</div>
</header>
<!-- Assets (Skills) -->
<div class="main clearfix gallery">	
	<div class="columnhead">
		<h2>Drop</h2>
	</div>
	<div class="column">
		<div class="gal">
		<p><img src="img/drop/drop_large.png"></p>
		<p><img src="img/drop/home_sm.png"></p>
		<p><img src="img/drop/drop_home_drop.png"></p>
		<p><img src="img/drop/profile.png"></p>
		<p><img src="img/drop/dropin.png"></p>
		
		</div>
	</div>
</div>	

<div class="main clearfix gallery">	
	<div class="columnhead">
		<h2>Guru eLearning</h2>
	</div>
	<div class="column">
		<div class="gal">
		<p><img src="img/drop/guru_large.png"></p>
		<p><img src="img/drop/guru_home.png"></p>
		<p><img src="img/drop/guru_vid.png"></p>
		<p><img src="img/drop/guru_comment.png"></p>
		
		</div>
	</div>
</div>	

<div class="main clearfix gallery">	
	<div class="columnhead">
		<h2>Westmoreland Contract Furniture</h2>
	</div>
	<div class="column">
		<div class="gal">
		<p><img src="img/drop/wcf_large.png"></p>	
		<p><img src="img/drop/wcf_home.png"></p>
		<p><img src="img/drop/wcf_about.png"></p>
		<p><img src="img/drop/wcf_service.png"></p>
		</div>
	</div>
</div>	

<div class="main clearfix gallery">	
	<div class="columnhead">
		<h2>Vitale Clothing Co.</h2>
	</div>
	<div class="column">
		<div class="gal">
		<p><img src="img/drop/vitale_large.png"></p>	
		<p><img src="img/drop/viatle_home.png"></p>	
		<p><img src="img/drop/vitale_gallery.png"></p>
		<p><img src="img/drop/vitale_about.png"></p>
	</div>
</div>	