    <section id="bsd-welcome" clas="text-center bsd-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
					
					    
	              
					
	                <h1 class="animated fadeInDown">Brock Stone <span>Design</span></h1>
	                <p id="bsd-skills"class="animated fadeInUp">User Interface Design <span>+</span> <em>Front-End Development</em></p>
			
	                <a id="recnet-works-btn" class="animated bounceIn delay-1s" href=""><i class="fa fa-chevron-down"></i><br><i class="fa fa-chevron-down"></i></a>
            	</div>
            </div>
        </div>
    </section>
