<section id="bsd-welcome" class="text-center bsd-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            	<!-- Brock Stone Design -->
                <h1 class="animated fadeInDown">Brock Stone <span>Design</span></h1>

                <!-- What I do -->
                <p class="animated fadeInUp">User Interface Design <span>+</span> <em>Front-End Development</em></p>

                <!-- Behind the design - (about) -->
				<div class="animated fadeInUp delay-1s">
                	<a class="gold-btn" href="#/about">BEHIND THE DESIGN</a>
                </div>

        	</div> <!-- / col-lg-12 -->
        </div> <!-- / row -->
    </div> <!-- / container -->
</section>
