*{
	font: 400 1em/1.4 'Open Sans',sans-serif;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.4;
}
.site{
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}
.site-content{
	flex: 1;
}
h4{
	color:#0DCEB7;
}
p{
	color: #6D6D6D;
}
span{
	font-weight: 700;
}
#cont{
	text-align: center;
	margin-top: 30vh;
}
footer{
	font-size: .9em;
	font-weight: 400;
	height: 40px;
	padding: 10px;
	background-color: #3D3D3D;
	color: #828282;
}
#dream{
	padding-top: 100px;
	display: block;
	margin: 0 auto;

}
#slogan{
	text-align: center;
}
h6{
	font-size: 1.5em;
}