*{
	font: 400 1em/1.4 'Open Sans',sans-serif;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.4;
}
.site{
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}
.site-content{
	flex: 1;
}
#cont{
	text-align: center;
	margin-top: 30vh;
}
footer{
	font-size: .9em;
	height: 40px;
	padding: 10px;
	background-color: #3D3D3D;
	color: #8C8C8C;
}